# Mac OS laundry list
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# RStudio ignores
.Rproj.user
.Rhistory
.RData
.Ruserdata

# GLM output for all modules
/**/output.nc

# CSI ignores
/CrossScale Interactions/**/model_output.csv

# MSF ignores
/MacroScaleFeedbacks/**/ch4model_output.csv
/MacroScaleFeedbacks/**/co2model_output.csv